1.Look closely at the three times table example. Write a similar program to calculate the fourtimes table.

In [6]:
num = 1

for four_times_table in range(4, 96, 4):
    print(f"{num} * 4 = {four_times_table}")

    num += 1

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40
11 * 4 = 44
12 * 4 = 48
13 * 4 = 52
14 * 4 = 56
15 * 4 = 60
16 * 4 = 64
17 * 4 = 68
18 * 4 = 72
19 * 4 = 76
20 * 4 = 80
21 * 4 = 84
22 * 4 = 88
23 * 4 = 92

2.Write a program that will calculate the fivetimes table.

In [5]:
number = 1

for five_times_table in range(5,100,5):
    print(f"{number} * 5 = {five_times_table}")

    number += 1

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
11 * 5 = 55
12 * 5 = 60
13 * 5 = 65
14 * 5 = 70
15 * 5 = 75
16 * 5 = 80
17 * 5 = 85
18 * 5 = 90
19 * 5 = 95


3. Try writing a program that will prompt for an integer (whole number) and print the correct times table (up to 12x). Test with all the tables up to 12.

In [23]:

times_table_of = int(input("Give me the times table of :"))
for i in range(1,13):
   print(f"{i} * {times_table_of} = {i*times_table_of}")

1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90
11 * 9 = 99
12 * 9 = 108